<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" th:href="@{/dashboard/img/BlogLogo.png}" />
    <title>Dashboard</title>
    <!-- Custom fonts for this template-->
    <link th:href="@{/dashboard/vendor/fontawesome-free/css/all.min.css}" href="/static/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/static/dashboard/css/sb-admin-2.min.css" th:href="@{/dashboard/css/sb-admin-2.min.css}" />
    <link rel="stylesheet" href="/static/dashboard/css/custom.css" th:href="@{/dashboard/css/custom.css}" />
    <!-- Include the required DataTables.net CSS and JS files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.6.0/dt-1.11.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.6.0/dt-1.11.2/datatables.min.js"></script>
  </head>

<body id="page-top">
  <div th:replace="dashboard/fragment :: topbar"></div>
  <nav id="topbar"></nav>
  <div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="dashboard/fragment :: sidebar"></div>
    <aside id="sidebar"></aside>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <div class="container-fluid setting-dashboard-custom">
          <div class="row">
            <div class="col-md-6 setting-dashboard-custom-image">
              <img src="https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg" alt="Your image" id="imageBanner"/>
            </div>
            <div class="col-md-5 setting-dashboard-custom-form">
              <form>
                <div class="form-group">
                  <label for="imagefile" class="file-label" style="cursor: pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 16 16" fill="currentColor" class="bi bi-plus-square">
                      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                  </label>
                  <input type="file" class="form-control-file" id="imagefile" style="display: none" />
                  <div class="input-group pt-4">
                    <select class="form-select" id="category" aria-label="Example select with button addon">
                      <option selected value="HomeBanner">Home Banner</option>
                      <option value="ContactBanner">Contact Banner</option>
                      <option value="AboutBanner">About Banner</option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" />
                </div>
                <div class="form-group pb-4">
                  <label for="subtitle">Subtile</label>
                  <input type="text" class="form-control" id="subtitle" />
                </div>
                <div class="text-right">
                  <!-- <button type="submit" class="btn btn-outline-warning">Update</button> -->
                  <button id="btn-publish" type="submit" class="btn btn-outline-success">Publish</button>
                </div>
              </form>
            </div>
          </div>
          <h1 class="title-setting">TOP POST</h1>
          <hr class="row horizon-line" />
          <div class="row pt-5">
            <div class="left-column">
              <table id="my-table" class="table">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Views</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody th:each="post: ${listPost}">
                  <tr>
                    <td style="width:120px;">
                      <div class="post-image-setting">
                        <img th:src="${@environment.getProperty('SERVER_PATH')} + '/uploaded/' + ${post.getImageurl()}"  alt="">
                      </div>
                    </td>
                    <td th:text="${post.getTitle()}"></td>
                    <td th:text="${post.getView()}" ></td>
                    <td>
                      <button class="btn btn-outline-success px-3" type="submit" th:onclick="'handleAddTopPost(event,' + ${post.getIdpost()} + ')'" >Add</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="right-column">
              <div class="my-div p-2">
                <h1 class="text-center mb-3">Top Blogs</h1>
                <div  id="topPostAjaxContainer">
                  <div class="d-flex category-setting-item" th:each="post: ${listTopPost}" >
                    <div class="category-setting-item-image">
                      <!-- <a class="dropdown-item p-0" th:href="@{/posts/} + ${post.getIdpost()}"> -->
                      <img th:src="${@environment.getProperty('SERVER_PATH')} + '/uploaded/' + ${post.getImageurl()}" alt="Top Post" />
                      <!-- </a> -->
                    </div>
                    <div class="category-setting-item-content">
                      <p class="category-setting-item-content-heading" th:text="${post.getTitle()}"></p>
                      <p class="category-setting-ttem-content-content" >
                      <div class="htmlparse" style="display:contents" th:utext="${post.getContent()}">
                      </div>
                      </p>
                    </div>
                    <div style="cursor: pointer;" class="pointer p-4" th:onclick="'handleDeleteTopPost(' + ${post.getIdpost()} + ')'">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <div th:replace="dashboard/fragment :: footer"></div>
  <nav id="footer"></nav>
  <!-- Modal -->
  <div th:replace="dashboard/fragment :: modal"></div>
  <nav id="modal"></nav>


  <!-- Bootstrap core JavaScript-->
  <script src="/static/dashboard/vendor/jquery/jquery.min.js" th:href="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
  <script src="/static/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js" th:href="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- Core plugin JavaScript-->
  <script src="/static/dashboard/vendor/jquery-easing/jquery.easing.min.js" th:href="@{/dashboard/vendor/jquery-easing/jquery.easing.min.js}"></script>
  <!-- Custom scripts for all pages-->
  <script src="/static/dashboard/js/sb-admin-2.min.js" th:href="@{/dashboard/js/sb-admin-2.min.js}"></script>
  <script src="/static/dashboard/js/custom.js" th:src="@{/dashboard/js/custom.js}"></script>
  <link rel="stylesheet" href="/static/dashboard/css/custom2.css" th:href="@{/dashboard/css/custom2.css}" />
  <script>
    handlePublishDisplayBanner();
    previewImage('imageBanner', 'imagefile');
    document.getElementById('btn-publish').addEventListener('click', handlePublishBanner);
    document.getElementById('category').addEventListener('change', handlePublishDisplayBanner);
  </script>
</body>
</html>
